<mat-card>
  <img src="" alt="property" />
  <br /> Title: {{property.title}}
  <br /> Posted By: {{property.user}}
  <br /> # of Rooms: {{property.rooms}}
  <br /> Rate: {{property.price}}
  <br /> Address: {{locator.address}}
  <br /> {{locator.city}}, {{locator.province}}, {{locator.country}} {{locator.postalCode}}
  <br /> # of Tenants: {{propertyDetails.amountOfTenants}}
  <br /> Expenses(?): {{propertyDetails.expenses}}
  <br /> Monthly Rate: {{propertyDetails.monthlyRate}}
  <br />
</mat-card>
