<div class="login-wrapper">
    <form class="login" [formGroup]="registerForm" (ngSubmit)="submitRegistration()">
        <label class="title">
            <h3 class="welcome">Welcome to Xenos</h3>
            Register
        </label>
        <div class="login-group">
            <label for="register_username"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-sm"
                [class.invalid]="registerForm.get('username').invalid && registerForm.get('username').touched">
                    <input class="username" type="text" id="register_username" placeholder="Username" formControlName="username">
                <span class="tooltip-content">
                    {{getUsernameError()}}
                </span>
            </label>

            <label for="register_password"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-sm"
                [class.invalid]="registerForm.get('password').invalid && registerForm.get('password').touched">
                <input class="password" type="password" id="register_password" placeholder="Password" formControlName="password">
                <span class="tooltip-content">
                    {{getPasswordError()}}
                </span>
            </label>

            <label for="register_email"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-sm"
                [class.invalid]="registerForm.get('email').invalid && registerForm.get('email').touched">
                <input class="username" type="text" id="register_email" placeholder="Email" formControlName="email">
                <span class="tooltip-content">
                    {{getEmailError()}}
                </span>
            </label>

            <div class="error active" *ngIf="errorMessage">
                {{errorMessage.message}}
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
            <a routerLink="/login" class="signup">Login</a>
        </div>
    </form>
</div>
