<div fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex.xs="5%" fxFlex.sm="15%" fxFlex.md="20%"></div>
  <div fxFlex.xs="90%" fxFlex.sm="70%" fxFlex.md="60%">
    <mat-card class="margin-top">
      <mat-card-title fxLayoutAlign="center">
        Register
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content fxLayoutAlign="center">
      <form [formGroup]="registerForm" style="width: 100%">

            <mat-form-field class="margin-top margin-bottom" style="width: 100%">
              <input matInput placeholder="Username" formControlName="username">
              <mat-error *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">
                {{getUsernameError()}}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="margin-bottom" style="width: 100%">
              <input type="password" matInput placeholder="Password" formControlName="password">
              <mat-error *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
                {{getPasswordError()}}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="margin-bottom" style="width: 100%">
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
                {{getEmailError()}}
              </mat-error>
            </mat-form-field>

        <div fxLayoutAlign="center" class="margin-top">
          <button mat-raised-button color="accent" (click)="submitRegistration()">Register</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
  </div>
  <div fxFlex></div>
</div>
