<clr-header class="header-4">
  <div class="branding">
      <a routerLink="home" class="nav-link">
          <clr-icon shape="home" class="is-solid" style="color: white;"></clr-icon>
          <span class="title">Xenos</span>
      </a>
  </div>
  <div class="header-nav" [clr-nav-level]="1">
      <a routerLink="home" class="nav-link"><span class="nav-text">Home</span></a>
      <a routerLink="propertyList" class="nav-link"><span class="nav-text">Listings</span></a>
      <a *ngIf="user && user.isPremium" routerLink="landlord-dashboard" class="nav-link"><span class="nav-text">Landlord Panel</span></a>
  </div>
  <div class="header-actions">

    <a class="nav-link nav-text" *ngIf="user">
        {{user.username}}
    </a>

    <clr-dropdown >
      <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
      </button>

      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a *ngIf="!user" routerLink="login" clrDropdownItem>Login</a>        
        <a *ngIf="!user" routerLink="register" clrDropdownItem>Register</a>        
        <a *ngIf="user" routerLink="propertyEdit" clrDropdownItem>Add New Listing</a>
        <a *ngIf="user && !user.isPremium" routerLink="premium-signup" clrDropdownItem>Sign Up For Premium</a>
        <a *ngIf="user" clrDropdownItem (click)="logout()">Log out</a> 
      </clr-dropdown-menu>
      
    </clr-dropdown>
  </div>
</clr-header>