<div class="login-wrapper">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <label class="title">
            <h3 class="welcome">Welcome to Xenos</h3>
            Login
        </label>
        <div class="login-group">
            <label for="login_username"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-sm"
                [class.invalid]="loginForm.get('username').invalid && loginForm.get('username').touched">
                    <input class="username" type="text" id="login_username" placeholder="Username" formControlName="username">
                <span class="tooltip-content">
                    {{getUsernameError()}}
                </span>
            </label>

            <label for="login_password"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-sm"
                [class.invalid]="loginForm.get('password').invalid && loginForm.get('password').touched">
                <input class="password" type="password" id="login_password" placeholder="Password" formControlName="password">
                <span class="tooltip-content">
                    {{getPasswordError()}}
                </span>
            </label>

            <div class="error active" *ngIf="errorMessage">
                {{errorMessage}}
            </div>


            <div class="btn-group">
                <button type="submit" class="btn btn-primary" style="width:50%;" [disabled]="loginForm.invalid">Login</button>
                <button routerLink="/register" class="btn" style="width:50%">Sign Up</button>
            </div>
            <a href="javascript://" class="signup">Forgot your password?</a>
        </div>
    </form>
</div>



