<div class="row">
  <button class="btn col-lg-4 col-md-8 col-sm-8 col-xs-12" routerLink="/landlord-dashboard">
    <clr-icon shape="home"></clr-icon>
    Dashboard Home
  </button>
  <button class="btn col-lg-4 col-md-8 col-sm-8 col-xs-12" routerLink="/propertyEdit">
    <clr-icon shape="plus"></clr-icon>
    Add New Listing
  </button>
</div>


<div class="row">
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" *ngFor="let property of properties">
    <app-property (click)="openDetails(property)" [property]="property"></app-property>
    <button class="btn col-lg-4 col-md-8 col-sm-8 col-xs-12"
    (click)="promoteProperty(property)"
    [disabled]="property.IsPromoted">
      <clr-icon shape="bolt"></clr-icon>
      <label *ngIf="!property.IsPromoted">Promote Property</label>
      <label *ngIf="property.IsPromoted">Property Promoted</label>
    </button>
  </div>

</div>

<clr-modal [(clrModalOpen)]="openModal" [clrModalSize]="'lg'">
  <h3 class="modal-title">Edit Property</h3>
  <div class="modal-body">
    <app-propertydetails *ngIf="selectedProperty" [property]="selectedProperty" [editable]="true" (onSubmit)="onUpdate($event)"></app-propertydetails>
  </div>
</clr-modal>
