<!-- Search component goes here -->

<div style="text-align: center">
  <app-search (searchBy)="onSearchByChange($event)" (search)="onSearchChange($event)"></app-search>
</div>

<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngFor="let property of properties | prop : searchBy : search" >
        <app-property  (click)="openDetails(property)" [property]="property" style="cursor: pointer"></app-property>
    </div>
</div>



<clr-modal [(clrModalOpen)]="openModal" [clrModalSize]="'lg'">
    <h3 class="modal-title">{{selectedProperty?.title}}</h3>
    <div class="modal-body">
        <app-propertydetails *ngIf="selectedProperty" [property]="selectedProperty"></app-propertydetails>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="openModal = false">Ok</button>
    </div>
</clr-modal>








