<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Forgot Password
            </div>
            <div class="card-block">
                <div class="card-title">
                    Please enter the username of your account
                </div>
                <div class="card-text">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetRequest()">
                      
                      <div class="form-group">
                          <label for="username">Username</label>
                          <label for="username"
                              aria-haspopup="true"
                              role="tooltip"
                              class="tooltip tooltip-validation tooltip-sm"
                              [class.invalid]="resetPasswordForm.get('username').invalid && resetPasswordForm.get('username').touched">
                              <input id="username" type="text" placeholder="Username" formControlName="username">
                              <span class="tooltip-content">
                                  {{getUsernameError()}}
                              </span>
                          </label>
                      </div>
                    
                      <button type="submit" class="btn btn-primary" style="margin-top: 2%" [disabled]="resetPasswordForm.invalid">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>