<clr-main-container>    
        <div class="content-container">
            <main class="content-area" style="padding-top: 0;">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </main>
            <nav class="sidenav" [clr-nav-level]="2">
                    <section class="sidenav-content" style="padding-bottom: 0;">
                        <section class="nav-group collapsible">
                            <input id="tabexample1" type="checkbox">
                            <label for="tabexample1">Landlord Menu</label>
                            <ul class="nav-list">
                                <li><a class="nav-link" routerLink="expenses">Expenses</a></li>
                                <li><a class="nav-link" routerLink="tenants">Tenants</a></li>
                                <li><a class="nav-link" routerLink="properties">Properties</a></li>
                            </ul>
                        </section>
                    </section>
                </nav>
        </div>
    
    </clr-main-container>
    
    
