
<div class="row">
        <button class="btn col-lg-4 col-md-8 col-sm-8 col-xs-12" routerLink="/landlord-dashboard">
            <clr-icon shape="home"></clr-icon>
            Dashboard Home
        </button>
      </div>
      
      <div class="row">
      
      <div class="col-xs-12">
      
        <form [formGroup]="tenantForm">
              <section class="form-block">
                  <label>Create Tenant</label>
                  <div class="form-group row">
                      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="gForm_1">Tenant</label>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                          <input class="form-control" type="text" id="gForm_1" placeholder="First Name" size="45" formControlName="firstname">
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <input class="form-control" type="text" id="gForm_2" placeholder="Last Name" size="45" formControlName="lastname">
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                          <label for="gForm_3">Property</label>
                      </div>
                      <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                          <div class="select form-control">
                              <select id="gForm_3" formControlName="property">
                                  <option *ngFor="let property of properties" [ngValue]="property">{{property.title}}</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="gForm_1">Tenant Rent Price</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <input class="form-control" type="text" id="gForm_1" placeholder="Rent Amount" formControlName="rent">
                    </div>
                </div>
                  <button type="submit" class="btn btn-primary" (click)="saveTenant()">Add Tenant</button>
              </section>
          </form>
          
      </div>
      </div>

      

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" *ngFor="let tenant of tenants">
                <div class="card">
                    <div class="card-header">
                        {{tenant.firstname}}, {{tenant.lastname}} <span style="color: green">${{tenant.rent}}</span>
                    </div>
                    <div class="card-block">
                        <div class="card-title">
                            {{tenant.property.locator.address}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-link" (click)="deleteTenant(tenant)">Delete</button>
                    </div>
                </div>
            </div>
        </div>


          
      